*

!.github/
!assets/
!.editorconfig
!.gitattributes
!.gitignore
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!include/
!include/**/
!examples/
!examples/**/
!scripts/
!scripts/**/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
